<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Detalle Pedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.css" integrity="sha512-pZE3NzBgokXUM9YLBGQIw99omcxiRdkMhZkz0o7g0VjC0tCFlBUqbcLKUuX8+jfsZgiZNIWFiLuZpLxXoxi53w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
        integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>

<div th:replace="navbar1 :: navbar"></div>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''EMPLEADO'')')}" class="breadcrumb-item"><a href="/pedidos">Pedidos</a></li>
                        <li th:if="${#authorization.expression('hasRole(''CLIENTE'')')}" class="breadcrumb-item"><a href="/perfil/pedidos">Mis pedidos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Detalle de Pedido</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Editar Detalle de Pedido</h2>

                            <form th:action="@{/detallePedidos/editar/{id}(id=${detallePedido.detallePedidoId})}" th:object="${detallePedido}" method="post">
                                <input type="hidden" th:field="*{detallePedidoId}" />
                                <!--
                                <div class="form-group">
                                    <label for="pedido">Pedido:</label>
                                    <select id="pedido" name="pedido" class="form-control" th:field="*{pedido}" required>
                                        <option th:each="pedido : ${listaPedidos}" th:value="${pedido.pedidoId}" th:text="${pedido.pedidoId}"></option>
                                    </select>
                                </div>

                                -->

                                <div class="form-group">
                                    <label for="pedido">Pedido:</label>
                                    <input type="text" id="pedido" name="pedido" class="form-control" th:value="${detallePedido.pedido.pedidoId}" readonly>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="categoria">Categoría:</label>
                                    <select id="categoria" name="categoria" class="form-control" th:field="*{producto.categoria.categoriaId}">
                                        <option value="" selected>Todas las categorías</option>
                                        <option th:each="categoria : ${listaCategorias}" th:value="${categoria.categoriaId}" th:text="${categoria.nombre}"></option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="producto">Producto:</label>
                                    <select id="producto" name="producto" class="form-control selectize" th:field="*{producto.producto_id}" required>
                                        <option th:each="producto : ${listaProductos}" th:value="${producto.producto_id}" th:text="${producto.nombre}"></option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="cantidad">Cantidad:</label>
                                    <input type="number" min="1" id="cantidad" name="cantidad" class="form-control" th:field="*{cantidad}" required>
                                </div>
                                <br>
                                <!--
                                <div class="form-group">
                                    <label for="precioUnitario">Precio Unitario:</label>
                                    <input type="number" step="0.01" id="precioUnitario" name="precioUnitario" class="form-control" th:field="*{precioUnitario}" required>
                                </div>
                                 -->
                                <div class="form-group">
                                    <label for="precioUnitario">Precio Unitario:</label>
                                    <!-- Mostrar el campo input solo si no es cliente -->
                                    <input type="number" step="0.01" id="precioUnitario" name="precioUnitario" class="form-control" th:field="*{precioUnitario}" required th:if="${!#authorization.expression('hasRole(''CLIENTE'')')}" readonly >
                                    <!-- Mostrar el span solo si es cliente -->
                                    <span th:id="${#authorization.expression('hasRole(''CLIENTE'')') ? 'precioUnitarioCliente' : ''}" th:text="${detallePedido.precioUnitario}" class="form-control" style="border: none;" th:if="${#authorization.expression('hasRole(''CLIENTE'')')}"></span>
                                    <input type="hidden" step="0.01" name="precioUnitario" class="form-control"  th:field="*{precioUnitario}" required th:if="${#authorization.expression('hasRole(''CLIENTE'')')}" >
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="subtotal">Subtotal:</label>
                                    <input type="number" step="0.01" id="subtotal" name="subtotal" class="form-control" th:field="*{subtotal}" required readonly>
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
  $(document).ready(function () {
    // Inicializa Selectize en el campo de selección de productos
    var selectProducto = $('#producto').selectize({
        create: false, // No permitir crear nuevas opciones
        sortField: 'text' // Ordenar opciones por el texto visible
    });

    // Obtén la instancia de Selectize después de inicializarlo
    var selectize = selectProducto[0].selectize;

        $('#producto').change(function () {
            var productoId = $(this).val();
            if (productoId) {
                $.getJSON('/productos/precio/' + productoId, function (data) {
                    if (data !== null) {
                        // Usar el selector correcto y el método de obtención de texto
                        $('#precioUnitario').val(data).prop('readonly', false);
                        $('#precioUnitarioCliente').text(data);
                        actualizarSubtotal();
                    } else {
                        // Deshabilitar el input y limpiar el subtotal si no hay datos
                        $('#precioUnitario').val('').prop('readonly', true);
                        $('#subtotal').val('');
                    }
                });
            } else {
                // Deshabilitar el input y limpiar el subtotal si no hay selección de producto
                $('#precioUnitario').val('').prop('readonly', true);
                $('#subtotal').val('');
            }
        });

        $('#cantidad, #precioUnitario').on('input', function () {
            actualizarSubtotal();
        });
    // Maneja el cambio de categoría
        $('#categoria').change(function () {
            var categoriaId = $(this).val();
            console.log('Categoría seleccionada:', categoriaId);

            // Si hay una categoría seleccionada, obtén los productos asociados
            if (categoriaId) {
                $.getJSON('/productos/por-categoria/' + categoriaId, function (data) {
                    console.log('Productos obtenidos:', data); // Agrega este console.log
                    // Limpiar y actualizar opciones de productos
                    selectize.clearOptions();
                    $.each(data, function (index, producto) {
                        selectize.addOption({ value: producto.producto_id, text: producto.nombre });
                    });

                    // Actualizar Selectize después de cambiar las opciones
                    selectize.refreshOptions();
                });
            } else {
            window.location.reload();
               /*
                // Limpiar el select de productos si no hay categoría seleccionada
                selectize.clearOptions();
                selectize.refreshOptions();
                */
            }
        });

});

        function actualizarSubtotal() {
            var cantidad = $('#cantidad').val();
            var precioUnitario = $('#precioUnitario').val() || $('#precioUnitarioCliente').text(); // Obtener el valor correcto

            if (cantidad && precioUnitario) {
                var subtotal = parseFloat(cantidad) * parseFloat(precioUnitario);
                $('#subtotal').val(subtotal.toFixed(2));
            } else {
                $('#subtotal').val('');
            }
        };




</script>

</body>
<div th:replace="footer1 :: footer"></div>
</html>